.pagination {
    display: inline-block;
    list-style: none;
    
    
    & .pre,
    & .next {
        font-weight: bolder;
    }
    
    & > * {
        display: inline-block;
        padding: .8rem 1.2rem;
        float: left;
        border-radius: .18rem;
        text-decoration: none;
        font-size: 1.5rem;
        user-select: none;
        cursor: pointer;
        position: relative;
        overflow: hidden;
        font-weight: bolder;
        
        &:not(:last-child) {
            margin-right: 1rem;
        }
        
        & > a {
            text-decoration: none;
            color: $color-dark;
        }
    }
    
}