
// Button Ripple Animation


@keyframes ripple-anm {
	0% {
		transform: scale(0);
		opacity: 1;
	}
	
	
	70% {
		transform: scale(4);
		opacity: 0;
	}
	
	100% {
		transform: scale(0);
		opacity: 0;
	}
}

