//  Colors


/*

Prime        -  #5FCF80
Sec          -  #E91E63
ter          -  #1a73e8
warn         -  #ffbf2e 
danger       -  #FA624A   // Old  #ED5A5A   
dark       -  #3e474f
dark-2         -  #666
white        -  #fff
white-dark   -  #edeff0
white-dark-2 -  #e8ebed
black        -  #000

*/


$color-prime: #5FCF80;
$color-sec: #E91E63;
$color-ter: #1a73e8;
$color-warn: #ffbf2e;
$color-danger: #FA624A;



$color-dark-2: #666;
$color-dark: #3e474f;


$color-white: #fff;
$color-white-dark: #edeff0;
$color-white-dark-2: #e8ebed;


$color-black: #000;